openai
httpx
re
PyPi
google-search-results
ansio==0.0.1
python-dotenv==1.0.1
langchain-groq==0.1.6
langchain-huggingface==0.0.3
langchain-openai==0.1.15
langchain-community==0.2.7
langchain-anthropic==0.1.19
langchain-chroma==0.1.2
langchain-google-genai==1.0.7
webcolors==24.6.0
sentence-transformers==3.0.1
docker==7.1.0
paramiko==3.4.0
duckduckgo_search==6.1.12
inputimeout==1.0.4
torch==2.1.2
transformers>=4.38.1
bitsandbytes>=0.41.1
accelerate==0.27.2
langchain==0.1.9
pydantic==2.6.2
jsonschema==4.21.1
yfinance==0.2.36
pandas==2.2.0
ninja==1.11.1.1
flash-attn==2.5.5
protobuf
sentencepiece
art
aiohttp